<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Glitch Quiz</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    html, body, iframe {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
    }

    body {
      overflow: hidden;
    }

    iframe {
      margin-top: -85px;
      height: calc(100% + 85px);
    }
  </style>
</head>
<body>
  <iframe src="https://www.classmarker.com/online-test/start/?quiz=<%= quiz %>&iframe=1" frameborder="0" height="100%"></iframe>
</body>
</html>
